<a href="https://colab.research.google.com/github/MahithaPoduvu/Mahitha_INFO5731_-Spring2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [2]:
# lenght of string
x = "computational methods"
len(x)
print("The name of the course is","x","and lenght of string is",len(x))

The name of the course is x and lenght of string is 21

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [5]:
# to count number of characters in string and sorting ascending order
from collections import Counter
string = "computational methods"
res = Counter(string)
print("Count of all characters in computational methods is :",(res))

Count of all characters in computational methods is : Counter({'o': 3, 't': 3, 'm': 2, 'a': 2, 'c': 1, 'p': 1, 'u': 1, 'i': 1, 'n': 1, 'l': 1, ' ': 1, 'e': 1, 'h': 1, 'd': 1, 's': 1})

(3) Write a Python program to sum all the items in a list. (4 points)

In [4]:
# using in built function
x =[14,23,54,86]
sum(x)
print("The sum of all numbers:",sum(x))

The sum of all numbers: 177

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [2]:
from ctypes import c_char
# to replace all char with $ except first
str = "witch with sandwich"
print("String given:",str)
char = str[0]
str = str.replace(char,"$")
str = char + str[1:]
print("String After:",str)

String given: witch with sandwich
String After: witch $ith sand$ich

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [8]:
# given parameters a,b to calculate in given formula
a = 4
b = 5
S = 3.14*(1+a/b)**3
print(S)
print("The result of S:",S)

18.312480000000004
The result of S: 18.312480000000004

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [30]:
# to concatenate created dictionaries into new one
dict_1 = {'A':1,'B':2,'C':3}
dict_2 = {'D':4,'E':5,'F':6}
dict_3 = {'G':7,'H':8,'I':9}
dict_4 = {}
dict_4 = {**dict_1,**dict_2, **dict_3}
print(dict_4)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [18]:
# to find the element in tuple
t = (20, 44, 55, 11, 7,65)
n = 55
x = [i for i in t if i == n]
print(["yes" if x else "no"])

n = 6
x = [i for i in t if i == n]
print(["yes" if x else "no"])

['yes']
['no']

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [9]:
# to find maximum and minimum value in a set
set = {54,72,35,42,88,94}
print(max(set))
print(min(set))
print("The maximum value of set:",max(set))
print("The minimum value of set:",min(set))

94
35
The maximum value of set: 94
The minimum value of set: 35

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [44]:
from IPython.lib.pretty import Group
# creating six groups
import random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
x = len(studnet_list) # for number of students in list
print(x)
Group_lenght = x//6
Group1 = []
Group2 = []
Group3 = []
Group4 = []
Group5 = []
Group6 = []
def my_function():
  Group = []
  for i in range(Group_lenght):
    one = random.choice(studnet_list)
    Group.append(one)
    studnet_list.remove(one)
  return Group
Group1 = my_function()
print(Group1)
Group2 = my_function()
print(Group2)
Group3 = my_function()
print(Group3)
Group4 = my_function()
print(Group4)
Group5 = my_function()
print(Group5)
Group6 = my_function()
print(Group6)

30
['sc1229', 'nv0234', 'av0659', 'ja0964', 'gn0108']
['ds0814', 'ak0934', 'ms1500', 'hy0232', 'kg0569']
['kg0470', 'vm0377', 'fh0141', 'sk1386', 'sm1907']
['nm0618', 'sa1198', 'sk1313', 'bg0320', 'aos0040']
['sg1297', 'sm1640', 'jl1252', 'pr0353', 'dr0609']
['sb1357', 'sk1458', 'vb0218', 'sk1390', 'ak0956']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [28]:
#creating empty list and then checking for number in list1 and added, else added to list 2.
def duplicate(list):
    list1 = []
    list2 = []

    for i in list:
      if i not in list1:
            list1.append(i)
      else:
          list2.append(i)
    if not list2 :
      return -1
    else:
      return list2
print(duplicate([7, 3, 3, 4, 4, 5]))
print(duplicate([9,10,11,12,13]))

[3, 4]
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [15]:
# finding the sundays of year 1989
from datetime import date
import calendar
year = 1989
cal = calendar.TextCalendar()

for month in range(1,13):                 # given months 1 to 12
  for i in cal.itermonthdays(year,month): # for iteration in given year and all months
      if i != 0:
        day = date(year,month,i)
        if day.weekday () == 6 :          #indexing from monday=0 and for sunday is 6
            #print(year,month,i)           # for only number 
            print("%s-%s-%s"% (i,month,year))  #to separate by - in date

1-1-1989
8-1-1989
15-1-1989
22-1-1989
29-1-1989
5-2-1989
12-2-1989
19-2-1989
26-2-1989
5-3-1989
12-3-1989
19-3-1989
26-3-1989
2-4-1989
9-4-1989
16-4-1989
23-4-1989
30-4-1989
7-5-1989
14-5-1989
21-5-1989
28-5-1989
4-6-1989
11-6-1989
18-6-1989
25-6-1989
2-7-1989
9-7-1989
16-7-1989
23-7-1989
30-7-1989
6-8-1989
13-8-1989
20-8-1989
27-8-1989
3-9-1989
10-9-1989
17-9-1989
24-9-1989
1-10-1989
8-10-1989
15-10-1989
22-10-1989
29-10-1989
5-11-1989
12-11-1989
19-11-1989
26-11-1989
3-12-1989
10-12-1989
17-12-1989
24-12-1989
31-12-1989